In [3]:
import pandas as pd
import numpy as np

In [4]:
test_01 = pd.DataFrame(np.arange(1, 13).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
test_01

   A   B   C   D
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [5]:
test_01['C']['b']

7

## Pandas 인덱서

- loc(location): 라벨 기반의 복수 인덱서
- iloc(integer-location): 숫자 기반의 복수 인덱서

In [6]:
test_01[['C','D'],['b','c']]

TypeError: unhashable type: 'list'

In [7]:
test_01.loc[['C','D'],['b','c']]

KeyError: "None of [['C', 'D']] are in the [index]"

In [8]:
test_01.loc[['b','c'],['C','D']]

    C   D
b   7   8
c  11  12

In [9]:
test_01.loc[test_01.D>7]

   A   B   C   D
b  5   6   7   8
c  9  10  11  12

In [10]:
test_01[0:]

   A   B   C   D
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [11]:
test_01.loc['a':]

   A   B   C   D
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [18]:
test_01.loc['a',:]

A    1
B    2
C    3
D    4
Name: a, dtype: int32

In [21]:
test_01.iloc[1:2]

   A  B  C  D
b  5  6  7  8

In [13]:
test_01.loc['a':'b',:]

   A  B  C  D
a  1  2  3  4
b  5  6  7  8

In [15]:
test_01[:2]

   A  B  C  D
a  1  2  3  4
b  5  6  7  8

In [47]:
# 인덱서를 사용하지 않는 경우, 데이터프레임형으로 반환
type(test_01[:1])

pandas.core.frame.DataFrame

In [49]:
#loc 인덱서를 사용하여 하나의 행을 반환하는 경우, 시리즈형으로 반환
test_01.loc['a',:]

A    1
B    2
C    3
D    4
Name: a, dtype: int32

In [48]:
type(test_01.loc['a',:])

pandas.core.series.Series

In [51]:
# loc 인덱서에 하나의 인덱서만 넣을 경우, 위와 마찬가지로 하나의 행만 반환
test_01.loc['a']

A    1
B    2
C    3
D    4
Name: a, dtype: int32

## iloc 인덱서

- iloc 인덱서는 loc 인덱서와 반대로 라벨이 아닌 정수 인덱스만 받음
- iloc = inter-location

In [55]:
test_01

   A   B   C   D
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [52]:
test_01.loc[1:2]

TypeError: cannot do slice indexing on <class 'pandas.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [53]:
test_01.iloc[1:2]

   A  B  C  D
b  5  6  7  8

In [59]:
test_01.iloc[:2,:3]

   A  B  C
a  1  2  3
b  5  6  7

In [60]:
test_01.iloc[2]

A     9
B    10
C    11
D    12
Name: c, dtype: int32