#  Pandas 데이터 처리

## 갯수 세기

In [8]:
import numpy as np
import pandas as pd

In [25]:
test_01 = pd.DataFrame(np.random.randint(5,size=(4,4)))
test_01

   0  1  2  3
0  0  3  2  1
1  0  3  1  1
2  3  4  0  1
3  3  4  2  4

In [23]:
np.random.seed(1)
test_01 = pd.DataFrame(np.random.randint(5,size=(4,4)))
test_01

   0  1  2  3
0  3  4  0  1
1  3  0  0  1
2  4  4  1  2
3  4  2  4  3

[random.seed 자료 보기](https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.RandomState.html#numpy.random.RandomState)

In [27]:
test_01.count()

0    4
1    4
2    4
3    4
dtype: int64

## 카테고리값 세기

In [32]:
np.random.seed(1)
test_02 = pd.Series(np.random.randint(6, size=10))
test_02

0    5
1    3
2    4
3    0
4    1
5    3
6    5
7    0
8    0
9    1
dtype: int32

In [33]:
test_02.tail()

5    3
6    5
7    0
8    0
9    1
dtype: int32