In [12]:
import pandas as pd
import numpy as np
import gmaps
import gmaps.datasets
gmaps.configure

## Pandas and Bigquery

https://pandas-gbq.readthedocs.io/en/latest/install.html#pip

In [8]:
project_id='rgpkorea-datalake'

In [9]:
query_test='''
SELECT
order_date
, date_hour+1
, COUNT(order_id) AS order_number
FROM dw3.fact_order_ygy_20170624
WHERE order_result='success'
GROUP BY 1,2
ORDER BY 1,2
'''
query_test

"\nSELECT\norder_date\n, date_hour+1\n, COUNT(order_id) AS order_number\nFROM dw3.fact_order_ygy_20170624\nWHERE order_result='success'\nGROUP BY 1,2\nORDER BY 1,2\n"

In [10]:
test = pd.read_gbq(query_test,project_id=project_id, dialect='standard')

Requesting query... ok.
Job ID: job_Vbm5uZ4Rivenh4tuDFeks12f5oM
Query running...
Query done.
Processed: 4.0 MB
Standard price: $0.00 USD

Retrieving results...
Got 24 rows.

Total time taken 2.87 s.
Finished at 2017-08-02 14:25:36.

In [11]:
test

    order_date  f0_  order_number
0   2017-06-24    1          2699
1   2017-06-24    2          1397
2   2017-06-24    3           708
3   2017-06-24    4           417
4   2017-06-24    5           212
5   2017-06-24    6           146
6   2017-06-24    7           132
7   2017-06-24    8           135
8   2017-06-24    9           199
9   2017-06-24   10           421
10  2017-06-24   11          1600
11  2017-06-24   12          4411
12  2017-06-24   13          6880
13  2017-06-24   14          6558
14  2017-06-24   15          5668
15  2017-06-24   16          4884
16  2017-06-24   17          5801
17  2017-06-24   18          8864
18  2017-06-24   19         11997
19  2017-06-24   20         11695
20  2017-06-24   21         10184
21  2017-06-24   22          9290
22  2017-06-24   23          8121
23  2017-06-24   24          5601