In [1]:
import pandas as pd
import numpy as np

In [12]:
test_01=pd.read_csv('test.csv')

In [13]:
test_01

   c1    c2     c3
0   1  1.11    one
1   2  2.22    two
2   3  3.33  three

In [18]:
test_01['c2']=test_01['c2']*10
test_01

   c1    c2     c3
0   1  11.1    one
1   2  22.2    two
2   3  33.3  three

In [31]:
test_01.to_csv('test2.csv')

## Pandas and Bigquery

https://pandas-gbq.readthedocs.io/en/latest/install.html#pip

In [3]:
project_id='rgpkorea-datalake'

In [4]:
query_test="""
SELECT * FROM `rgpkorea-datalake.ods_yogyo.x_cart_order_by_submitted_20170720`
"""
query_test

'\nSELECT * FROM `rgpkorea-datalake.ods_yogyo.x_cart_order_by_submitted_20170720`\n'

In [ ]:
pd.read_gbq('SELECT * FROM cart_order',project_id=project_id)

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=495642085510-k0tmvj2m941jhre2nbqka17vqpjfddtd.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fbigquery&state=Zn6AsUTE0IVok1JVaVobOd9lgX9FTt&access_type=offline&prompt=consent